{% extends "base.html"%} {% block body %}
<body>
<div class="container" style="text-align:center;" >
<h2>Transaction History</h2>
<table class="table table-hover" style="width:80%; margin-left:auto; margin-right:auto;background:linear-gradient(180deg, #4CA259 0%, #18DAC3 100%)">


  <thead>
    <tr style="background-color:#0d7367;color:white;">
      <th scope="col" style="width:5%;">S.No</th>
      <th scope="col" style="width:20%;">Name</th>
      <th scope="col" style="width:15%;">Transfered To</th>
      <th scope="col" style="width:20%;">Amount</th>
    </tr>
  </thead>
  <tbody>
  {% for i in hist%}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{i.transfered_by}}</td>
      <td>{{i.transfered_to}}</td>
      <td>₹{{i.amount}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>
</body>
{% endblock body %}